---
layout: page
title: "Teaching"
description: "有趣事物搬运工"
header-img: "img/uw.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>日积月累，整理归纳<br>
    故不积跬步，无以至千里；不积小流，无以成江海。</p></blockquote>
    <p>Here is a collation of great books, tutorials, and materials that I have come across during my study (continually updated, so check back often).。</p>
    <p></p>

<h3 id="toc_0">Spatio-temporal data mining</h3>

<ul>
<li><a href="https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/">python for data science and machine learning bootcamp</a></li>
<li>Time series data predicted by hankel: <a href="https://nbviewer.org/github/xinychen/transdim/blob/master/toy-examples/SLRMC.ipynb"> from xinyu's github page</a></li>
<li>Data Visualisation:<a href="https://d3-graph-gallery.com/about.html"> Data Visualisation </a></li>
</ul>
  
<h3 id="toc_1">Machine Learning Theory and Implementation</h3>

<ul>
<li>Probabilistic machine learning:<a href="https://drive.google.com/file/d/1Yo700CwX0aYi6VI1iUA3p7pGRGIKZ4O6/view?usp=drive_link">Bayesian Time Series Learning with Gaussian Processes</a></li>
<li>Probabilistic machine learning:<a href="https://drive.google.com/file/d/15sNg4cVLh9-nTl9zACnRkhfVtu5P5mgV/view?usp=drive_link">Probabilistic Machine Learning for Civil Engineers</a> Course Slid <a href="https://profs.polymtl.ca/jagoulet/Site/Goulet_web_page_BOOK.html"> (by James-A. Goulet)</a> </li>
<li>Probabilistic machine learning:<a href="https://drive.google.com/file/d/1uv2UMoEhgAorrv40Tw-cNF4sYeylWfpj/view?usp=sharing">Machine Learning: A Probabilistic Perspective(by Kevin P. Murphy)</a></li>
<li>Basic Theory of machine learning:<a href="https://drive.google.com/file/d/1jn38qhhvNMHuUqHtGO622s40UjwCv7kd/view?usp=drive_link">Mathematics for machine learning</a></li>
<li> Reinforcement Learning: <a href="https://chandar-lab.github.io/INF8250AE/"> Course in Poly of Montreal</a>,<a href="https://www.cnblogs.com/skykill/p/6786629.html">Chinese tutorial</a></li
<li> Reinforcement Learning: <a href="https://zhuanlan.zhihu.com/p/28084942"> Markov processor(in chinese) </a></li>
<li> Decision Theory: Sequential Decisions <a href="https://www.cs.ubc.ca/~kevinlb/teaching/cs322%20-%202005-6/Lectures/lect32.pdf#:~:text=A%20sequential%20decision%20problem%20consists%20of%20a%20sequence,known%20at%20the%20time%20decision%20Di%20is%20made.">tutorial</a></li>
<li>Implementation of machine learning:<a href="https://zhuanlan.zhihu.com/p/525106459">Diffusion Model(知乎)</a> 
    Code0(Theory):<a href="https://lilianweng.github.io/posts/2021-07-11-diffusion-models/"> What are Diffusion Models?</a>
    Code1(Kaggle):<a href="https://www.kaggle.com/discussions/general/412942"> Learn Diffusion models with DiffusionFastForward.</a>
    Code2(Github):<a href="https://github.com/openai/guided-diffusion">guided-diffusion.</a>
    Diffusion(Mila):<a href="https://drive.google.com/drive/folders/1G4AlTbAdMbP9JEsNcl2SB2a3R-ZSW1Pi?usp=drive_link">tutorials-codes.</a>
</li>
</ul>

<h3 id="toc_2">Causality Discovery and Calusal Inference </h3>

<ul>
<li>Theory:<a href="https://drive.google.com/file/d/1aa334ZbTJ5uO_daMAPFW9MVto3yZaEot/view?usp=drive_link">Causal inference-whta if</a>，James M. Robin）</li>
<li>Theory:<a href="https://drive.google.com/file/d/1LdXuLKHh8lNffSFGkoURRHMy0pVjjyqU/view?usp=drive_link">Causality inference introduce slide</a></li>
<li>Theory:<a href="https://drive.google.com/file/d/18ZXk1VVblTBpEWR-i6nJ7sZZ39dsVSnp/view?usp=drive_link">Causal Inference in Statistics：A Primer</a>
<li>Course:<a href="https://www.bradyneal.com/causal-inference-course">Introduction to Causal Inference</a></li>
<li>Dynamic Causality Inference:<a href="https://donskerclass.github.io/CausalEconometrics/TimeSeries.html">Time Series Causal Inference</a></li> 
<li>Dynamic bayesian network:<a href="https://github.com/dkesada/dbnR"> Bynamic bayesian network codes</a></li>
<li>Causality inference implementation:<a href="https://drive.google.com/file/d/1Xb8sRTLp5_8uUSDV1T1qcQgG-SdbcIKS/view?usp=drive_link">Bayesian network in R</a> </li>
<li>Causality inference by time series data:<a href="https://drive.google.com/file/d/1oj9Q2nMXEvtJG1606asQpf18ZU1CUsFq/view?usp=drive_link">Exploratory Causal Analysis with Time Series Data</a></li>
<li>Causality inference tutorial in R <a href="https://zhuanlan.zhihu.com/p/630493059"> Blearn(知乎)</a>,<a href="https://www.bnlearn.com/examples/useR19-tutorial/"> Tutorials</a> </li> 
<li>Causality inference tutorial In R<a href="https://yanzhangcun.github.io/files/blearn_bn.pdf"> Blearn(chineae)</a></li>
<li>Causality inference in stata<a href="https://www.stata.com/meeting/china20-Uone-Tech/slides/China20_Jin.pdf"> Causality in stata</a></li>
<li>Granger Causality inference <a href="https://zhuanlan.zhihu.com/p/461575896"> introduction about the Granger causality</a> </li>
<li>Review of the Granger causality<a href="https://arxiv.org/pdf/2105.02675.pdf"> review of the Granger causality</a></li>
</ul>

<h3 id="toc_3">Traffic Modeling and Simulation</h3>
<ul>
<li><a href="https://drive.google.com/file/d/18BAlDlYEXrSryb069xWCxJjkFGFdFCXC/view?usp=drive_link">Traffic Flow Dynamics Data, Models and Simulation(auth. Martin Treiber, Arne Kesting)</a></li>
</ul>

<h3 id="toc_4">Advanced Mathematics</h3>

<ul>
<li>Linear Algebra:<a href="https://drive.google.com/file/d/1BhEj0n953PK73cSg6M1w88whE3ktew-B/view?usp=drive_link">Linear Algebra A Geometric Approach</a></li>
<li>Linear Algebra:<a href="https://www.bilibili.com/video/BV1L54y1F7ry/?spm_id_from=333.337.search-card.all.click&vd_source=eadde1477a58ba202d5070a8f223d4d4"> Become a Linear Algebra Master(video)</a></li>
<li>Linear Algebre:<a href="https://drive.google.com/file/d/1LApD52lbQHmptDcuctjRNTBxVpyivfcy/view?usp=drive_link">The Matrix Cookbook</a></li>
</ul>

<h3 id = "toc_5"> Computer Vision </h3>
<ul>
<li> Image Generative method:<a href="https://arankomatsuzaki.wordpress.com/2021/03/04/state-of-the-art-image-generative-models/"> State-of-the-Art Image Generative Models</a> </li>
<li> Object detection method:<a href="https://towardsdatascience.com/understanding-variational-autoencoders-vaes-f70510919f73">Image generation methods</a>, some codes <a href="https://www.kaggle.com/code/fazilbtopal/variantional-autoencoders-vae">codes</a></li>
<li> Object tracking method:<a href="https://github.com/neozhaoliang/visual-vehicle-behavier-analyzer"> Yolv3+sort codes</a></li>
    
</ul>

    
<h3 id="toc_6">Other Book</h3>

<ul>
<li><a href="https://drive.google.com/file/d/1In0sLf_-nZ6rYktJxuzgM1uicfHCs43S/view?usp=drive_link">Beautiful of mathematic(by jun wu) </a></li>
</ul>
    
<hr>

<small> <font color="a0a9a9">
<b>Special Note：</b>
<li>The main function of this page is to serve the research work of myself, and there is no commercial activity concerned. This listed inside many books are downloaded from the school library databases, public websites, if there is a copyright dispute involved please email me, the content will be removed from the site.</li>
<li>The best time to plant a tree was ten years ago, followed by now.</li>
</font>
<small>
        
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>
    <p>This is my personal homepage, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://yanzhangcun.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>
    
<!-- Gitalk 评论 start  
{% if site.gitalk.enable %}
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'resources',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

